$background_color_1: #EAE6DF;
$background_color_2: #B8926A;
$background_color_3: #D4C8BE;


$colorWhite_2:#FFFFFF;
$colorWhite: #EAE6DF;
$colorBlack: #2D2D2B;
$colorBlack2: #717171;


$borderColor_1:#B8926A;